In [1]:
import pandas as pd

In [21]:
# Read the csv files back into pandas dataframes
df_ROSMAP_female = pd.read_csv('filtered_female_ROSMAP.csv')
df_ROSMAP_male = pd.read_csv('filtered_male_ROSMAP.csv')

df_MAYO_female = pd.read_csv('filtered_female_MAYO.csv')
df_MAYO_male = pd.read_csv('filtered_male_MAYO.csv')

df_MSBB_female = pd.read_csv('filtered_female_MSBB.csv')
df_MSBB_male = pd.read_csv('filtered_male_MSBB.csv')

In [7]:
# Find common genes in all studies for female
common_genes_female = set(df_ROSMAP_female['hgnc_symbol']).intersection(
    set(df_MAYO_female['hgnc_symbol']), set(df_MSBB_female['hgnc_symbol']))

# Find common genes in all studies for male
common_genes_male = set(df_ROSMAP_male['hgnc_symbol']).intersection(
    set(df_MAYO_male['hgnc_symbol']), set(df_MSBB_male['hgnc_symbol']))

# Convert to DataFrames if needed
df_common_genes_female = pd.DataFrame(list(common_genes_female), columns=['hgnc_symbol'])
df_common_genes_male = pd.DataFrame(list(common_genes_male), columns=['hgnc_symbol'])

In [8]:
df_common_genes_female

  hgnc_symbol
0   LINC01007
1    SERPINA5
2      S100A4
3         LTF
4      CLEC4E
5        PCK1

In [9]:
df_common_genes_male

  hgnc_symbol
0    SERPINA5
1      S100A4

In [17]:
# Define function to get common genes
def get_common_genes(df1, df2):
    return set(df1['hgnc_symbol']).intersection(set(df2['hgnc_symbol']))

# Get common genes
common_genes_ROSMAP_MAYO = get_common_genes(df_ROSMAP_female, df_MAYO_female)
common_genes_ROSMAP_MSBB = get_common_genes(df_ROSMAP_female, df_MSBB_female)
common_genes_MAYO_MSBB = get_common_genes(df_MAYO_female, df_MSBB_female)

# Store in dictionary
common_genes_dict = {
    'ROSMAP and MAYO': common_genes_ROSMAP_MAYO,
    'ROSMAP and MSBB': common_genes_ROSMAP_MSBB,
    'MAYO and MSBB': common_genes_MAYO_MSBB
}

# Convert to DataFrames if needed
df_common_genes_ROSMAP_MAYO = pd.DataFrame(list(common_genes_ROSMAP_MAYO), columns=['hgnc_symbol'])
df_common_genes_ROSMAP_MSBB = pd.DataFrame(list(common_genes_ROSMAP_MSBB), columns=['hgnc_symbol'])
df_common_genes_MAYO_MSBB = pd.DataFrame(list(common_genes_MAYO_MSBB), columns=['hgnc_symbol'])

df_common_genes_ROSMAP_MAYO['Studies'] = 'ROSMAP and MAYO'
df_common_genes_ROSMAP_MSBB['Studies'] = 'ROSMAP and MSBB'
df_common_genes_MAYO_MSBB['Studies'] = 'MAYO and MSBB'

# Combine all into one DataFrame
df_all_common_genes_female = pd.concat([df_common_genes_ROSMAP_MAYO, df_common_genes_ROSMAP_MSBB, df_common_genes_MAYO_MSBB])

In [18]:
df_all_common_genes_female.value_counts()

hgnc_symbol  Studies
AC051619.5   MAYO and MSBB      1
PCK1         ROSMAP and MSBB    1
LINC02427    MAYO and MSBB      1
LTF          MAYO and MSBB      1
             ROSMAP and MAYO    1
             ROSMAP and MSBB    1
MS4A6A       ROSMAP and MSBB    1
MT1F         ROSMAP and MAYO    1
MT1H         ROSMAP and MAYO    1
OBSCN-AS1    ROSMAP and MAYO    1
PCK1         MAYO and MSBB      1
             ROSMAP and MAYO    1
PPEF1        MAYO and MSBB      1
LINC01736    ROSMAP and MSBB    1
PVALB        ROSMAP and MAYO    1
RNASE6       ROSMAP and MSBB    1
S100A4       MAYO and MSBB      1
             ROSMAP and MAYO    1
             ROSMAP and MSBB    1
SERPINA5     MAYO and MSBB      1
             ROSMAP and MAYO    1
             ROSMAP and MSBB    1
SHISA3       ROSMAP and MAYO    1
SIGLEC8      ROSMAP and MSBB    1
LINC02137    ROSMAP and MAYO    1
LINC01094    MAYO and MSBB      1
AC099552.5   ROSMAP and MAYO    1
CRH          MAYO and MSBB      1
ADORA3       ROSMAP and MSBB    1
AL929091.1   MAYO and MSBB      1
C4A          MAYO and MSBB      1
C4B          MAYO and MSBB      1
CD163        MAYO and MSBB      1
CD44         MAYO and MSBB      1
CLEC4E       MAYO and MSBB      1
             ROSMAP and MAYO    1
             ROSMAP and MSBB    1
CP           MAYO and MSBB      1
CYTL1        ROSMAP and MSBB    1
LINC01007    ROSMAP and MSBB    1
FKBP5        MAYO and MSBB      1
FPR3         ROSMAP and MSBB    1
FREM3        ROSMAP and MAYO    1
GLI1         ROSMAP and MAYO    1
GPR101       ROSMAP and MAYO    1
GPR88        ROSMAP and MAYO    1
HLA-DRA      ROSMAP and MSBB    1
KRT5         MAYO and MSBB      1
LINC01007    MAYO and MSBB      1
             ROSMAP and MAYO    1
VIP          MAYO and MSBB      1
dtype: int64

In [13]:
# Define function to get common genes
def get_common_genes(df1, df2):
    return set(df1['hgnc_symbol']).intersection(set(df2['hgnc_symbol']))

# Get common genes
common_genes_ROSMAP_MAYO = get_common_genes(df_ROSMAP_male, df_MAYO_male)
common_genes_ROSMAP_MSBB = get_common_genes(df_ROSMAP_male, df_MSBB_male)
common_genes_MAYO_MSBB = get_common_genes(df_MAYO_male, df_MSBB_male)

# Store in dictionary
common_genes_dict = {
    'ROSMAP and MAYO': common_genes_ROSMAP_MAYO,
    'ROSMAP and MSBB': common_genes_ROSMAP_MSBB,
    'MAYO and MSBB': common_genes_MAYO_MSBB
}

# Convert to DataFrames if needed
df_common_genes_ROSMAP_MAYO = pd.DataFrame(list(common_genes_ROSMAP_MAYO), columns=['hgnc_symbol'])
df_common_genes_ROSMAP_MSBB = pd.DataFrame(list(common_genes_ROSMAP_MSBB), columns=['hgnc_symbol'])
df_common_genes_MAYO_MSBB = pd.DataFrame(list(common_genes_MAYO_MSBB), columns=['hgnc_symbol'])

df_common_genes_ROSMAP_MAYO['Studies'] = 'ROSMAP and MAYO'
df_common_genes_ROSMAP_MSBB['Studies'] = 'ROSMAP and MSBB'
df_common_genes_MAYO_MSBB['Studies'] = 'MAYO and MSBB'

# Combine all into one DataFrame
df_all_common_genes_male = pd.concat([df_common_genes_ROSMAP_MAYO, df_common_genes_ROSMAP_MSBB, df_common_genes_MAYO_MSBB])

In [15]:
df_all_common_genes_male.value_counts()

hgnc_symbol  Studies
AC051619.5   MAYO and MSBB      1
LINC01094    MAYO and MSBB      1
LINC02427    MAYO and MSBB      1
LTF          MAYO and MSBB      1
MS4A6A       ROSMAP and MSBB    1
MT1F         ROSMAP and MAYO    1
MT1H         ROSMAP and MAYO    1
OBSCN-AS1    ROSMAP and MAYO    1
PCK1         MAYO and MSBB      1
PPEF1        MAYO and MSBB      1
PVALB        ROSMAP and MAYO    1
RNASE6       ROSMAP and MSBB    1
S100A4       MAYO and MSBB      1
             ROSMAP and MAYO    1
             ROSMAP and MSBB    1
SERPINA5     MAYO and MSBB      1
             ROSMAP and MAYO    1
             ROSMAP and MSBB    1
SIGLEC8      ROSMAP and MSBB    1
LINC01736    ROSMAP and MSBB    1
LINC01007    MAYO and MSBB      1
AC099552.5   ROSMAP and MAYO    1
KRT5         MAYO and MSBB      1
ADORA3       ROSMAP and MSBB    1
AL929091.1   MAYO and MSBB      1
C4A          MAYO and MSBB      1
C4B          MAYO and MSBB      1
CD163        MAYO and MSBB      1
CD44         MAYO and MSBB      1
CHRNA2       ROSMAP and MAYO    1
CLEC4E       MAYO and MSBB      1
CRH          MAYO and MSBB      1
CYTL1        ROSMAP and MSBB    1
FKBP5        MAYO and MSBB      1
FPR3         ROSMAP and MSBB    1
FREM3        ROSMAP and MAYO    1
GLI1         ROSMAP and MAYO    1
GPR34        ROSMAP and MAYO    1
HLA-DMB      MAYO and MSBB      1
HLA-DRA      ROSMAP and MSBB    1
VIP          MAYO and MSBB      1
dtype: int64

In [19]:
# Convert the 'hgnc_symbol' columns to sets for easy comparison
set_male = set(df_all_common_genes_male['hgnc_symbol'])
set_female = set(df_all_common_genes_female['hgnc_symbol'])

# Find the intersection (common genes)
common_genes = set_male.intersection(set_female)

# Find the difference (sex-specific genes)
male_specific_genes = set_male.difference(set_female)
female_specific_genes = set_female.difference(set_male)

# Convert back to dataframes for further analysis or saving to CSV
df_common_genes = pd.DataFrame(list(common_genes), columns=['hgnc_symbol'])
df_male_specific_genes = pd.DataFrame(list(male_specific_genes), columns=['hgnc_symbol'])
df_female_specific_genes = pd.DataFrame(list(female_specific_genes), columns=['hgnc_symbol'])

In [20]:
df_common_genes

   hgnc_symbol
0        PVALB
1        FKBP5
2     SERPINA5
3       S100A4
4          LTF
5    OBSCN-AS1
6         PCK1
7         GLI1
8    LINC02427
9        CYTL1
10         VIP
11         CRH
12  AC051619.5
13     HLA-DRA
14  AL929091.1
15   LINC01007
16        CD44
17   LINC01736
18       CD163
19      ADORA3
20        MT1H
21         C4A
22        FPR3
23      MS4A6A
24  AC099552.5
25        MT1F
26         C4B
27      RNASE6
28   LINC01094
29       FREM3
30       PPEF1
31      CLEC4E
32     SIGLEC8
33        KRT5